<div class="mt-5 pt-5 px-4 px-md-5 h-100">
  <h1 class="h1 text-white mt-4 mb-4">My captures</h1>
  <div *ngIf="captures; else loading">
    <div *ngIf="captures.length > 0; else noItems" class="row">
      <p-card
        *ngFor="let cap of captures"
        [header]="cap.pokemonName"
        [subheader]="'Captured at: ' + cap.captureTime"
        [style]="{
          marginBottom: '2rem',
          backgroundColor: 'rgb(48, 48, 54)',
          color: '#fff'
        }"
        class="col-12 col-sm-6 col-lg-4 col-xl-3 col-xxl-2"
      >
        <ng-template pTemplate="header">
          <img
            [alt]="cap.pokemonName"
            [src]="cap.pokemonImageUrl"
            class="mx-auto"
          />
        </ng-template>
        <div class="d-flex justify-content-start flex-wrap">
          <div
            *ngFor="let type of cap?.pokemonTypes"
            class="card text-white bg-success px-2 py-1 h5 text-capitalize mb-0 mr-4"
          >
            {{ type.name }}
          </div>
        </div>
        <ng-template pTemplate="footer">
          <p-button
            icon="pi pi-caret-right"
            label="Release"
            (click)="onReleaseCapture(cap)"
          ></p-button>
        </ng-template>
      </p-card>
    </div>
    <ng-template #noItems>
      <p class="mb-4">
        Seems like you haven't capture any pokemon so far, would you like to
        try?
      </p>
      <p-button
        label="Gotta cath'em all"
        icon="pi pi-box"
        (click)="goToCapturePage()"
      ></p-button>
    </ng-template>
  </div>
  <ng-template #loading>
    <div
      class="container d-flex flex-column justify-content-center align-items-center"
      style="height: 75vh"
    >
      <app-loader-component></app-loader-component>
    </div>
  </ng-template>
</div>
<p-toast></p-toast>
